.container{
    margin-bottom: 100px;
}

.carousel-bg{
    background-color: rgb(255, 233, 234);
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color:#fd5090;
    font-weight: 600;
}

.buy-now-button{
    background-image: linear-gradient(to bottom, #fd5090 0%, palevioletred 100%);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 20px;
}
.cat1{
    background-color: orange;
}

.cat2{
    background-color: orchid;
}

.cat3{
    background-color: blue;
}

.category h1{
    color: white;
}
.category img{
    width: 100px;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 5px;
}

.card-footer{
    background-color: white;
    border-top: none;
}

#contact{
    height: 300px;
}

#contact p{
    color: gray;
}

footer p{
    font-size: small;
    text-align: center;
    color: dimgray;
}